@charset "utf-8";
/* CSS Document */

body {
	font-family: "微软雅黑";
	background: #f9f9f9
}
ul, li, p, h1, h2, h3, h4, h6, h7,dl,dt,dd {
	margin: 0;
	padding: 0
}
ul, li {
	list-style: none
}
a {
	text-decoration: none
}
img {
	border: 0;
}
.clear {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font: 0/0 arial
}
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0
}
.clearfix {
 *zoom:1
}
.mhome {
	padding: 0;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	background: #e9ecf0
}

/* 注册 登录 找回密码 设置新密码 */
.main {
  padding: 20px 15px 0px;
}
.main .item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.main .item .txt-input {
  width: 100%;
  height: 44px;
  padding: 0px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  font-family: "微软雅黑";
  font-size: 16px;
  color: rgb(37, 37, 37);
}
.main .item .txt-input-check {
  width: 36%;
  height: 44px;
  padding: 0px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  font-family: "微软雅黑";
  font-size: 16px;
  color: rgb(37, 37, 37);
}
.main .item-btns .btn-login {
  display: inline-block;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background: orange;
  text-decoration: none;
  line-height: 39px;
  text-align: center;
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.main .item-btns .btn-yzm {
display: inline-block;
width: 100%;
height: 40px;
border-radius: 3px;
background: orange;
text-decoration: none;
line-height: 39px;
text-align: center;
font-size: 17px;
color: rgb(255, 255, 255);
}

.main .item-login-option {
  padding-top: 20px;
  margin-bottom: 34px;
  font-size: 14px;
}
.main .item-login-option .register-free {
  float: left;
  width: 50%;
}
.main .item-login-option .retrieve-password {
  float: right;
  width: 50%;
  text-align: right;
}
.main .item-login-option .register-free a, .main .item-login-option .retrieve-password a {
  text-decoration: underline;
  color: rgb(104, 104, 104);
  font-size: 15px;
}
.common-wrapper {
  width: 100%;
  position: relative;
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
  margin: 0px auto;
  font-size: 24px;
  background:#fff;
}
.main .item .txtpd {
  padding-left: 10px;
}


/* 头部 */
header {
	padding-top: 10px;
	min-height: 34px;
	border-bottom: 1px solid #fff;
	background: red;
	background-size: 100% 100%;
	text-align:center;
	font-size:20px;
	color: #fff;
	font-weight: bold;
}
.sx {
	width: 52px;
	float: left;
}
.sx a {
	width: 30px;
	height: 30px;
	background: url(index/sx.png) no-repeat;
	background-size: 30px 30px;
	display: block;
	margin: -3px auto 0;
	text-decoration: none;
}
.xzsj {
	width: 52px;
	float: right;
}
.xzsj a {
	width: 23px;
	height: 23px;
	background: url(index/dianlao.png) no-repeat;
	background-size: 23px 23px;
	display: block;
	margin: 0 auto 0;
	text-decoration: none;
}
.sx1 {
  width: 120px;
  float: left;
}
.sx1 a {
  width: 103px;
  height: 30px;
  background: url(index/sx1.png) no-repeat;
  background-size: 103px 30px;
  display: block;
  margin: 7px auto 0;
  text-decoration: none;
}
.xzsj1 {
  width: 130px;
  float: right;
}
.xzsj1 a {
  width: 107px;
  height: 30px;
  background: url(index/dianlao1.png) no-repeat;
  background-size: 107px 30px;
  display: block;
  margin: 7px auto 0;
  text-decoration: none;
}
.logo {
	width: 100px;
	height: 23px;
	background: url(logo.png) no-repeat;
	background-size: 100px 23px;
	margin: 0 auto;
}


/* 个人中心数值区 */
.money {
	background: red;
	color: #fff;
	padding: 5px 0 40px;
	margin-bottom: 10px;
	background-size: 100% 100%;
}
.money .userId {
	font-size: 14px;
	padding-left: 5px;
	margin-bottom: 20px
}
.money .userUm {
	font-size: 40px;
	text-align: center
}
.userUm a {
	color: #fff;
}
.profit {
	height: 90px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	margin-bottom: 10px
}
.profit p {
	width: 90%;
	margin: 0 auto;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	background: url(index/bot_x.png) no-repeat right center;
	background-size: 20px 11px
}
.profit p.bor {
	border-bottom: 1px solid #ddd
}
.profit p a {
	font-size: 14px;
	color: #757575
}
.profit p a.desc {
	font-size: 10px;
	color: #ccc;
	margin-left: 10px
}


.gonggao {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	margin-bottom: 10px
}
.gonggao p {
	width: 90%;
	margin: 0 auto;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-align:center;
}


/* 个人中心底部通栏 */
.banner {
	width: 96%;
	margin: 10px auto;
}


/* 个人中心功能区 */
nav {
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	background: #fff
}
nav li {
	width: 25%;
	float: left;
	text-align: center;
	padding: 20px 0;
	background: url(index/border.jpg) right center repeat-y
}
nav li.nor {
	background: 0
}
nav li a {
	color: #8e8e8e;
	padding-top: 60px;
	font-size: 14px;
	display: block
}
nav ul.borT{border-bottom:1px solid #ddd;}
nav li a.a1 {
	background: url(index/1.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a2 {
	background: url(index/2.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a3 {
	background: url(index/3.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a4 {
	background: url(index/4.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a5 {
	background: url(index/5.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a6 {
	background: url(index/6.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a7 {
	background: url(index/7.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a8 {
	background: url(index/8.png) no-repeat top center;
	background-size: 50px 50px
}
nav li a.a9 {
	background: url(9.jpg) no-repeat top center;
	background-size: 50px 50px
}

nav li a.a10 {
	background: url(10.jpg) no-repeat top center;
	background-size: 50px 50px
}

nav li a.a11 {
	background: url(11.jpg) no-repeat top center;
	background-size: 50px 50px
}

nav li a.a12 {
	background: url(12.jpg) no-repeat top center;
	background-size: 50px 50px
}

nav li a.a13 {
	background: url(13.jpg) no-repeat top center;
	background-size: 50px 50px
}


/* 列表页头部导航 */
.nav {
	width: 100%;
	z-index: 1111
}
.nav_bor {
	width: 2%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #eff1f0;
	box-shadow: 2px 0 3px #ccc;
	z-index: 99;
	text-indent: -999em;
	font-size: 24px;
	color: #b2b2b2;
	line-height: 80px;
	_left: -4%
}
.nav_box1 .nav_bor {
	width: 100%;
	box-shadow: none;
	text-indent: 1%
}
.nav_box {
	position: relative;
	background: #fff
}
.nav_d {
	width: 100%;
	height: 40px;
	position: relative;
	overflow: hidden;
	border-bottom:1px solid #ddd;
}
.nav_u {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100
}
.nav_u li {
	float: left
}
.nav_u li.shov {
	color: #df2634
}
.nav_u li.shov span,.nav_u li.shov a {
	color: #df2634
}
.nav_u li span,.nav_u li a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #666;
	text-align: center;
	padding: 0 10px
}
.nav_u_down {
	display: none;
	overflow: hidden;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	text-align: center;
	margin: 0;
	border-bottom:1px solid #ddd;
}
.nav_u_down li {
	display: block;
	padding: 5px 10px;
	text-align: center;
	float: left;
	line-height: 30px
}
.nav_u_down li.shov {
	background: #fff;
	border-radius: 40px
}
.nav_u_down li.shov a {
	color: #f00
}
.nav_u_down li.line {
	clear: both;
	width: 93%;
	border-bottom: 1px solid #eee;
	float: none;
	margin: 0 auto;
	padding: 0;
	height: 1px;
	overflow: hidden
}
.nav_u_down li a {
	color: #666
}
.nav_u_down li a:hover {
	color: #666
}
.sab {
	display: block;
	position: absolute
}
.arr {
	top: 0;
	right: 0;
	cursor: pointer;
	text-align: center;
	z-index: 100;
	margin: 6px 10px 0
}
.arr img {
	width: 24px;
	height: auto;
	margin-top: 5px;
	vertical-align: middle;
}


/* 文章页 */
.article{background:#fff;}
.article h1 {
  margin-bottom: 12px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
  padding: 10px 0 15px;
  margin: 0 auto;
  width: 90%;
}

.art_txt {
  padding: 0;
  line-height: 20px;
  font-size: 15px;
  border-bottom: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 90%;
  color: #999;
}
.sau {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.art_co {
  font-size: 15px;
  line-height: 25px;
    width: 90%;
	color: #333;
}
.art_co img {
  width: 100%;
}
.ad_d {
  padding: 0 13px;
}
.li_con {
  font-size: 20px;
  line-height: 38px;
  height: 38px;
  overflow: hidden;
  background:#fff;
}


/* 列表页图文 */
.list{background:#fff;}
.list_d {
  padding: 9px 12px 0px 12px;
  overflow: hidden;
  position: relative;
  background:#fff;
}
.bor_b {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
}
.list_dd {
  display: block;
  overflow: hidden;
}
.list_l {
  width: 27.29%;
  float: left;
}
.list_lt {
  width: 72.71%;
  float: left;
}
.list_l img, .bot img{
  display: block;
  width: 100%;
}
.list_ld {
  padding: 0 0 0 10px;
}
.list_ld dt {
  font-size: 16px;
  line-height: 22px;
  white-space: nowrapl;
  overflow: hidden;
  margin-bottom:5px;
  color:#000;
}
.list_ld dd {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-align:left;
  color:#767676;
}


/* 翻页 */
.pager {
	padding: 20px 40px;
	overflow: hidden;
}
.pager li {
	display: inline;
}
.pager .previous {
	float: left;
}
.pager .next {
	float: right;
}
.pager li a {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 5px 14px;
	color:#666;
}
.pager li a:hover {
	background-color: #df2634;
	border: 1px solid #df2634;
	border-radius: 15px;
	padding: 5px 14px;
	color: #fff;
}


/* 底部浮层 */
.positionFooter {
	background: #f3f3f3;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 200;
	border-top: 1px solid #ddd
}
.positionFooter li {
	float: left;
	position: relative;
	text-align: center;
	width: 33.3%;
	color: #3096c6;
	padding: 5px 0
}
.positionFooter li a {
	color: #8e8e8e;
	padding-top: 30px;
	font-size: 14px;
	display: block
}
.positionFooter li a.a1 {
	background: url(index/b1.png) no-repeat top center;
	background-size: 30px 27px
}
.positionFooter li a.a2 {
	background: url(index/b2.png) no-repeat top center;
	background-size: 30px 27px
}
.positionFooter li a.a3 {
	background: url(index/b3.png) no-repeat top center;
	background-size: 30px 27px
}


/* 弹出浮层 */
.pop-bg {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% rgb(0, 0, 0);
	opacity: 0.75;
}
.pop {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 218px;
	height: 113px;
	border-radius: 8px;
	margin: -64px 0px 0px -114px;
	background: none repeat scroll 0% 0% rgb(248, 248, 248);
	line-height: 1.5;
	text-align: center;
	font-size: 16px;
	color: rgb(104, 104, 104);
}
.pop p {
	padding-top: 40px;
}
.pop1 p {
	padding-top: 35px;
	color: rgb(104, 104, 104);
}


/* 新手学堂 */
.service-menu .menu-title, .service-menu .menu-p, .service-menu .menu-p .menu-i {
	background: url(menubg.png) no-repeat;
}
.service-menu {
	width: 100%;
	margin: 0 auto;
}
.service-menu .menu-title {
	height: 40px;
	overflow: hidden;
	padding: 6px 8px;
	background-position: 0 -50px;
	background-repeat: repeat-x;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
.service-menu .menu-p {
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 6px 0 6px 19px;
	border-top: solid 1px #e6e6e6;
	background-position: 0 -50px;
	background-repeat: repeat-x;
	color: #444;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
}
.service-menu .menu-p .menu-i {
	float: left;
	display: inline;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background-position: 0 -103px;
	margin: 13px 6px 0 0;
}
.service-menu .menu-p a:link, .service-menu .menu-p a {
	color: #444;
	text-decoration: none;
	font-size: 16px;
}
.service-menu .menu-p a:hover {
	color: #e12634;
	text-decoration: none;
}
.service-menu .menu-p-current .menu-i {
	background-position: -20px -103px;
}
.service-menu .menu-p-current a:link, .service-menu .menu-p-current a {
	color: #e12634;
	font-weight: bold;
}
.service-menu .menu-p-current a:hover {
	color: #e12634;
}
.service-menu .menu-c {
	background: #fff;
	border-top: solid 1px #e6e6e6;
	display: none;
	padding: 10px 20px;
	font-size: 14px;
}
.service-menu .menu-c img {
	width: 100%;
}
.service-menu .menu-c-current {
	display: block;
}
.service-menu .menu-c ul {
	display: block;
}
.service-menu .menu-c li {
	line-height: 24px;
	overflow: hidden;
}
.service-menu .menu-c a:link, .service-menu .menu-c a {
	color: #444;
	text-decoration: none;
}
.service-menu .menu-c a:hover {
	color: #e12634;
	text-decoration: none;
}
.service-menu .menu-c .current:link, .service-menu .menu-c .current {
	color: #e12634;
	font-weight: bold;
}
.service-menu .menu-c .current:hover {
	color: #e12634;
}


/* 文章页智达 */
.ad_feng_01{width:100%;background:#fff;}
.ad_feng_01 img{height:100%;width:100%;}