html { - ms - text - size - adjust: 100 % ; - webkit - text - size - adjust: 100 % ;
    line - height: 1.6
}
body { - webkit - touch - callout: none;
    font - family: "Helvetica Neue",
    Helvetica,
    "Hiragino Sans GB",
    "Microsoft YaHei",
    Arial,
    sans - serif;
    background - color: #f3f3f3;
    line - height: inherit
}
body.rich_media_empty_extra {
    background - color: #fff
}
body.rich_media_empty_extra.rich_media_area_primary: before {
    display: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font - weight: 400;
    font - size: 16px
} * {
    margin: 0;
    padding: 0
}
a {
    color: #607fa6;
    text - decoration: none
}.rich_media_inner {
    font - size: 16px;
    word - wrap: break - word; - webkit - hyphens: auto; - ms - hyphens: auto;
    hyphens: auto
}.rich_media_area_primary {
    position: relative;
    padding: 20px 15px 15px;
    background - color: #fff
}.rich_media_area_primary: before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100 % ;
    height: 1px;
    border - top: 1px solid#e5e5e5; - webkit - transform - origin: 0 0;
    transform - origin: 0 0; - webkit - transform: scaleY(0.5);
    transform: scaleY(0.5);
    top: auto;
    bottom: -2px
}.rich_media_area_extra {
    padding: 0 15px 0
}.rich_media_title {
    margin - bottom: 10px;
    line - height: 1.4;
    font - weight: 400;
    font - size: 24px
}.rich_media_meta_list {
    margin - bottom: 18px;
    line - height: 20px;
    font - size: 0
}.rich_media_meta_list em {
    font - style: normal
}.rich_media_meta {
    display: inline - block;
    vertical - align: middle;
    margin - right: 8px;
    margin - bottom: 10px;
    font - size: 16px
}.meta_original_tag {
    display: inline - block;
    vertical - align: middle;
    padding: 1px.5em;
    border: 1px solid#9e9e9e;
    color: #8c8c8c;
    border - radius: 20 % 50 % ; - moz - border - radius: 20 % 50 % ; - webkit - border - radius: 20 % 50 % ;
    font - size: 15px;
    line - height: 1.1
}.meta_enterprise_tag img {
    width: 30px;
    height: 30px ! important;
    display: block;
    position: relative;
    margin - top: -3px;
    border: 0
}.rich_media_meta_text {
    color: #8c8c8c
}.rich_media_meta_nickname {
    overflow: hidden;
    text - overflow: ellipsis;
    white - space: nowrap;
    max - width: 9em
}
span.rich_media_meta_nickname {
    display: none
}.rich_media_thumb {
    width: 100 % ;
    margin - bottom: 6px

.rich_media_tool {
	overflow: hidden;
	padding: 0px 0px 0;
	line-height: 32px;
	margin-bottom: 70px;
}
.rich_media_tool .meta_primary {
	float: left;
	margin-right: 8px;
}
.tips_global {
	color: #8c8c8c;
}
.rich_media_tool .meta_praise {
	margin-right: 0;
	margin-left: 10px;
}
.rich_media_tool .meta_extra {
	float: right;
	margin-left: 10px;
}
.icon_praise_gray {
	background: url(../images/content20151022images/png.png);
	width: 13px;
	height: 13px;
	vertical-align: middle;
	display: inline-block;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
img {
    height: auto ! important
}@media(min - device - width: 375px) and(max - device - width: 667px) and( - webkit - min - device - pixel - ratio: 2) {.mm_appmsg.rich_media_inner,
    .mm_appmsg.rich_media_meta,
    .mm_appmsg.discuss_list,
    .mm_appmsg.rich_media_extra,
    .mm_appmsg.title_tips.tips {
        font - size: 17px
    }.mm_appmsg.meta_original_tag {
        font - size: 15px
    }
}@media(min - device - width: 414px) and(max - device - width: 736px) and( - webkit - min - device - pixel - ratio: 3) {.mm_appmsg.rich_media_title {
        font - size: 25px
    }
}.radius_avatar {
    display: inline - block;
    background - color: #fff;
    padding: 3px;
    border - radius: 50 % ; - moz - border - radius: 50 % ; - webkit - border - radius: 50 % ;
    overflow: hidden;
    vertical - align: middle
}.radius_avatar img {
    width: 100 % ;
    height: 100 % ;
    border - radius: 50 % ; - moz - border - radius: 50 % ; - webkit - border - radius: 50 % ;
    background - color: #eee
}.cell {
    padding: .8em 0;
    display: block;
    position: relative
}.cell_hd,
.cell_bd,
.cell_ft {
    display: table - cell;
    vertical - align: middle;
    word - wrap: break - word;
    word -
    break: break - all;
    white - space: nowrap
}.cell_primary {
    width: 2000px;
    white - space: normal
}.original_tool_area {
    display: block;
    padding: .75em 1em 0; - webkit - tap - highlight - color: rgba(0, 0, 0, 0);
    color: #3e3e3e;
    border: 1px solid#eaeaea;
    margin: 20px 0
}.original_tool_area.tips_global {
    position: relative;
    padding - bottom: .5em;
    font - size: 15px
}.original_tool_area.tips_global: after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100 % ;
    height: 1px;
    border - bottom: 1px solid#dbdbdb; - webkit - transform - origin: 0 100 % ;
    transform - origin: 0 100 % ; - webkit - transform: scaleY(0.5);
    transform: scaleY(0.5)
}.original_tool_area.radius_avatar {
    width: 27px;
    height: 27px;
    padding: 0;
    margin - right: .5em
}.original_tool_area.radius_avatar img {
    height: 100 % !important
}.original_tool_area.icon_access: before {
    content: " ";
    display: inline - block;
    height: 8px;
    width: 8px;
    border - width: 1px 1px 0 0;
    border - color: #cbcad0;
    border - style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); - ms - transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); - webkit - transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    top: -1px
}