<style>

    .margingT {

        margin-bottom: 20px;

    }

	#bottomText{
		font-size:20px;
	}


    .bottomAD {

        -webkit-box-sizing: border-box;

        height: 40px;

        position: fixed;

        bottom: 0;

        left: 0;

        z-index: 1000;

        padding: 0 10px;

        overflow: hidden;

        width: 100%;

        background: rgba(0, 0, 0, .8);

    }



    .bottom-pic {

        position: absolute;

        top: 10px;

        width: 60px;

        height: 60px;

        overflow: hidden;

        -webkit-border-radius: 10px;

        border-radius: 10px;

    }



        .bottom-pic img {

            width: 100%;

            height: 100%;

        }



    .bottom-text {

        margin-left: 70px;

        line-height: 40px;

        font-size: 32px;

        color: #fff;

    }



    .bottom-btn {

        position: absolute;

        top: 5px;

        right: 10px;

        height: 30px;

        line-height: 30px;

        color: #fff;

        background-color: #60b900;

        border-radius: 6px;

        text-align: center;

        font-size: 20px;

        padding: 0 5px;

        font-weight: bold;

    }



    .bottomAD a {

        position: absolute;

        top: 0;

        right: 0;

        bottom: 0;

        left: 0;

    }

</style>

