﻿@charset "utf-8";
/* CSS Document */

body {
	font-family: "微软雅黑";
	background: #fff;
	margin:0;
}
ul, li, p, h1, h2, h3, h4, h6, h7,dl,dt,dd {
	margin: 0;
	padding: 0
}
ul, li {
	list-style: none
}
a {
	text-decoration: none
}
img {
	border: 0;
}
.clear {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font: 0/0 arial
}
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0
}
.clearfix {
 *zoom:1
}
.mhome {
	padding: 0;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	background: #fff
}

/* 注册 登录 找回密码 设置新密码 */
.main {
  padding: 20px 15px 0px;
}
.main .item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.main .item .txt-input {
  width: 100%;
  height: 44px;
  padding: 0px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  font-family: "微软雅黑";
  font-size: 16px;
  color: rgb(37, 37, 37);
}
.main .item .txt-input-check {
  width: 40%;
  height: 40px;
  padding: 0px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  font-family: "微软雅黑";
  font-size: 16px;
  color: rgb(37, 37, 37);
}
.main .item-btns .btn-login {
  display: inline-block;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background: #B9B9B9;
  text-decoration: none;
  line-height: 39px;
  text-align: center;
  font-size: 17px;
  color: rgb(255, 255, 255);
}
.main .item-login-option {
  padding: 10px 0;
  font-size: 14px;
  text-align:center;
}
.main .item-login-option .retrieve-password {
  float: right;
  width: 50%;
  text-align: right;
}
.main .item-login-option .register-free a, .main .item-login-option .retrieve-password a {
  text-decoration: none;
  color:#09F;
  font-size: 14px;
}
.common-wrapper {
  width: 100%;
  position: relative;
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
  margin: 0px auto;
  font-size: 24px;
  background:#fff;
}
.main .item .txtpd {
  padding-left: 10px;
}

.rewan{text-align:center;padding-top:20px;font-size:30px;}
.remoney{padding:10px;text-align:center;margin:20px 30px 0;background:#fff;font-size:16px;border:1px dashed #be2c39;}
.remoney span{color:#f00;font-weight:bold;}
.hzTitle{font-size:18px;line-height:34px;height:34px;margin:10px 0;border-bottom:1px solid #ddd;}
.hzTitle span{background:#be2c39;color:#fff;padding:5px 10px;}


/* 头部 */
header {
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	background: #BE2C39;
	background-size: 100% 100%;
}
.sx {
	width: 52px;
	float: left;
}
.sx a {
	width: 30px;
	height: 30px;
	background: url(http://wimg.haozhuan.net/index/sx.png) no-repeat;
	background-size: 30px 30px;
	display: block;
	margin: -3px auto 0;
	text-decoration: none;
}
.xzsj {
	width: 52px;
	float: right;
}
.xzsj a {
	width: 23px;
	height: 30px;
	background: url(http://wimg.haozhuan.net/hzindex/she.png) no-repeat;
	background-size:23px 30px;
	display: block;
	margin: 2px auto 0;
	text-decoration: none;
}
.logo {
	width: 189px;
	height: 36px;
	background:url(http://wimg.haozhuan.net/logo2.png) no-repeat;
	background-size: 189px 36px;
	margin-left:10px;
}


/* 个人中心数值区 */
.money {
	background: red;
	color: #fff;
	padding: 5px 0 0;
	background: #BE2C39;
}
.money .userId {
	font-size: 14px;
	padding-left: 5px;
	margin-bottom: 20px
}
.money .userUm {
	font-size: 40px;
	text-align: center
}
.userUm a {
	color: #fff;
}
.profit {

}
.profit p {
	width: 50%;
	margin: 0 auto;
	float:left;
	overflow: hidden;
}
.profit p.bor {
	background:url(http://wimg.haozhuan.net/mex.gif) no-repeat right center;
}
.profit p a {
	font-size: 14px;
	color: #fff
}
.profit p b.b1,.profit p b.b2,.profit p b.b3{color:#fff;display:block;text-align:center;}
.profit p b.b1{margin-top:20px;}
.profit p b.b2{margin-top:5px;}
.profit p b.b3{padding:3px 8px;background:#fff;color:#000;width:30px;;margin:5px auto 15px;border-radius: 5px;font-weight:normal;}


/* 个人中心底部通栏 */
.banner {
	width: 96%;
	margin: 10px auto;
}


/* 个人中心功能区 */
nav {
	background: #fff
}
nav li {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	border-bottom:5px solid #ddd;
}
nav li a {
	color: #000;
	font-size: 18px;
}
.hz_b {
  width: 100%;
  border-bottom: 5px solid #ddd;
  text-align: center;
  margin:0 auto;
}
.hz_b a {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  color: #000;
}



/* 列表页头部导航 */
.nav {
	width: 90%;
	margin:0 auto;
}
.nav_bor {
	width: 2%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #eff1f0;
	box-shadow: 2px 0 3px #ccc;
	z-index: 99;
	text-indent: -999em;
	font-size: 24px;
	color: #b2b2b2;
	line-height: 80px;
	_left: -4%
}
.nav_box1 .nav_bor {
	width: 100%;
	box-shadow: none;
	text-indent: 1%
}
.nav_box {
	position: relative;
}
.nav_d {
	width: 100%;
	height: 40px;
	position: relative;
	overflow: hidden;
	margin-top:10px;
}
.nav_u {

	z-index: 100
}
.nav_u li {
	float: left
}
.nav_u li.shov {
	color: #fff
}
.nav_u li.shov span,.nav_u li.shov a {
	color: #fff;
	background:#428bca;
	border-radius: 5px
}
.nav_u li span,.nav_u li a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #428bca;
	text-align: center;
	padding: 0 10px
}
.nav_u_down {
	display: none;
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin: 0;
}
.nav_u_down li {
	display: block;
	padding: 5px 10px;
	text-align: center;
	float: left;
	line-height: 30px
}
.nav_u_down li.shov {
	background: #428bca;
	border-radius: 5px
}
.nav_u_down li.shov a {
	color: #fff
}
.nav_u_down li.line {
	clear: both;
	width: 93%;
	border-bottom: 1px solid #eee;
	float: none;
	margin: 0 auto;
	padding: 0;
	height: 1px;
	overflow: hidden
}
.nav_u_down li a {
	color: #428bca
}
.nav_u_down li a:hover {
	color: #666
}
.sab {
	display: block;
	position: absolute
}
.arr {
	cursor: pointer;
	text-align: center;
	z-index: 100;
	margin: 10px 0 0;
	color:#428bca;
	top:0;
	right:0;
}
.arr img {
	width: 24px;
	height: auto;
	margin-top: 5px;
	vertical-align: middle;
}


/* 文章页 */
.article{background:#fff;}
.article h1 {
  margin-bottom: 12px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
  padding: 10px 0;
  margin: 0 auto;
  width: 90%;
}

.art_txt {
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 90%;
  color: #999;
  padding:10px 0;
  margin-bottom:10px;
}
.art_txt a{color:#428bca;}
.sau {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.art_co {
  font-size: 15px;
  line-height: 25px;
    width: 90%;
	color: #333;
}
.art_co img {
  width: 100%;
}
.ad_d {
  padding: 0 13px;
}
.li_con {
  font-size: 18px;
  line-height: 38px;
  height: 38px;
  overflow: hidden;
  background:#ddd;
  font-weight:bold;
}


/* 列表页图文 */
.list{padding:10px 15px 0;}
.list_d {
  padding: 9px 12px 0px 12px;
  overflow: hidden;
  position: relative;
  background:#fff;
}
.bor_b {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
}
.list_dd {
  display: block;
  overflow: hidden;
}
.list_l {
  width: 23%;
  float: left;
}
.list_lt {
  width: 72.71%;
  float: right;
}
.list_l img, .bot img{
  display: block;
  width: 100%;
}
.list_ld {
  padding: 0 0 0 0;
}
.list_ld dt {
  font-size: 16px;
  line-height: 24px;
  white-space: nowrapl;
  color:#000;
}
.list_ld dd {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-align:left;
  color:#767676;
}


/* 翻页 */
.pager {
	padding: 20px 40px;
	overflow: hidden;
}
.pager li {
	display: inline;
}
.pager .previous {
	float: left;
}
.pager .next {
	float: right;
}
.pager li a {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 5px 14px;
	color:#428bca;
}
.pager li a:hover {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 5px 14px;
	color: #428bca;
}


/* 底部浮层 */
.hzFooter {
	background: #f3f3f3;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 200;
	border-top: 1px solid #ddd
}
.hzFooter li {
	float: left;
	position: relative;
	text-align: center;
	width: 25%;
	color: #3096c6;
	padding: 15px 0
}
.hzFooter li a {
	color: #000;
	font-size: 14px;
	display: block
}


/* 弹出浮层 */
.pop-bg {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% rgb(0, 0, 0);
	opacity: 0.75;
}
.pop {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 218px;
	height: 113px;
	border-radius: 8px;
	margin: -64px 0px 0px -114px;
	background: none repeat scroll 0% 0% rgb(248, 248, 248);
	line-height: 1.5;
	text-align: center;
	font-size: 16px;
	color: rgb(104, 104, 104);
}
.pop p {
	padding-top: 40px;
}
.pop1 p {
	padding-top: 35px;
	color: rgb(104, 104, 104);
}


/* 新手学堂 */
.service-menu .menu-title, .service-menu .menu-p, .service-menu .menu-p .menu-i {
	background: url(http://wimg.haozhuan.net/menubg.png) no-repeat;
}
.service-menu {
	width: 100%;
	margin: 0 auto;
}
.service-menu .menu-title {
	height: 40px;
	overflow: hidden;
	padding: 6px 8px;
	background-position: 0 -50px;
	background-repeat: repeat-x;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
.service-menu .menu-p {
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 6px 0 6px 19px;
	border-top: solid 1px #e6e6e6;
	background-position: 0 -50px;
	background-repeat: repeat-x;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	cursor: pointer;
}
.service-menu .menu-p .menu-i {
	float: left;
	display: inline;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background-position: 0 -103px;
	margin: 13px 6px 0 0;
}
.service-menu .menu-p a:link, .service-menu .menu-p a {
	color: #444;
	text-decoration: none;
	font-size: 16px;
}
.service-menu .menu-p a:hover {
	color: #e12634;
	text-decoration: none;
}
.service-menu .menu-p-current .menu-i {
	background-position: -20px -103px;
}
.service-menu .menu-p-current a:link, .service-menu .menu-p-current a {
	color: #e12634;
	font-weight: bold;
}
.service-menu .menu-p-current a:hover {
	color: #e12634;
}
.service-menu .menu-c {
	background: #fff;
	border-bottom: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	display: none;
	padding: 10px 20px;
	font-size: 14px;
}
.service-menu .menu-c img {
	width: 100%;
}
.service-menu .menu-c-current {
	display: block;
}
.service-menu .menu-c ul {
	display: block;
}
.service-menu .menu-c li {
	line-height: 24px;
	overflow: hidden;
}
.service-menu .menu-c a:link, .service-menu .menu-c a {
	color: #444;
	text-decoration: none;
}
.service-menu .menu-c a:hover {
	color: #e12634;
	text-decoration: none;
}
.service-menu .menu-c .current:link, .service-menu .menu-c .current {
	color: #e12634;
	font-weight: bold;
}
.service-menu .menu-c .current:hover {
	color: #e12634;
}


/* 文章页智达 */
.ad_feng_01{width:100%;background:#fff;}
.ad_feng_01 img{height:100%;width:100%;}



#cover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 18888;
  background-color: #000000;
  opacity: 0.7;
}

#guide {
  display: none;
  position: absolute;
  right: 18px;
  top: 5px;
  z-index: 19999;
}

#guide img {
  width: 260px;
  height: 180px;
}

#each li {
  float: left;
  margin: 0 7px 15px;
  padding: 10px 0;
  background: #000;
  color: #fff;
  width: 15%;
  font-size: 16px;
  text-align: center;
}

/*123*/


.rich_media_thumb {
	width: 100%;
	margin-bottom: 6px
}

.rich_media_content {
	overflow: hidden;
	color: #3e3e3e
}

.rich_media_content * {
	max-width: 100%!important;
	box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	word-wrap: break-word!important
}

